Dev/TravelJournal/TravelJournal.PCL/Service References/ServiceReference/SimulationServices3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TravelJournal.WinForm.Simulator" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TravelJournal.WinForm.Simulator" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.1.23:8733/Design_Time_Addresses/TravelJournal.WinForm.Simulator/SimulationServices?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ConnectionTestData">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Data" nillable="true" type="q1:ArrayOfint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConnectionTestData" nillable="true" type="tns:ConnectionTestData" />
  <xs:complexType name="GpsPoint">
    <xs:sequence>
      <xs:element minOccurs="0" name="Latitude" type="xs:double" />
      <xs:element minOccurs="0" name="Longitude" type="xs:double" />
      <xs:element minOccurs="0" name="TimeStamp" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GpsPoint" nillable="true" type="tns:GpsPoint" />
</xs:schema>